.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
}
.full {
    color: green;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: green;
}

:host ::ng-deep .sr-only{
    display: none;
}
::ng-deep.mat-dialog-container {
    background-image: url("../../assets/img/trainBG.jpg");
    color: white;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
}

mat-divider{
    margin-bottom: 12px;
}