<mat-sidenav-container hasBackdrop="false">
    <mat-sidenav mode="over" #sidenav [(opened)]="opened" (mouseleave)="opened=!opened">
        <div class="container" id="menuContainer">
            <div class="row mt-4 ms-1 pe-0">
                <div class="col-4" id="profileImgWrapper">
                    <div class="dropdown">
                        <img
                            src="https://w7.pngwing.com/pngs/1021/743/png-transparent-ash-ketchum-and-pikachu-ash-ketchum-pokxe9mon-x-and-y-pokxe9mon-sun-and-moon-pikachu-misty-pokemon-ash-free-chibi-boy-fictional-character-thumbnail.png"
                            class="img-thumbnail rounded-circle dropdown-toggle" id="profileImg" alt="..." type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">

                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="profileImg">
                            <li>
                                <button class="dropdown-item" type="button" (click)="addPokemon()">Add Pokemon</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button">Upload Photo</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button">Settings</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" (click)="showFriends()">My Friends</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" (click)="pendingRequests()">View Pending Requests</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" (click)="addFriend()">Add Friend</button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row mt-4 ms-1" id="nameRow">
                <div class="col-8">
                    <h1 id="trainerName" *ngIf="trainer">{{trainer.username}}</h1>
                </div>
            </div>
            <div class="row mt-n1 ms-1">
                <div class="col-8" id="currencyWrapper">
                    <h1 *ngIf="trainer">₽  {{trainer.currency}}</h1>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <div class="row">
                <div class=" arrow-right" (click)="opened=!opened">
                    <div class="inner-triangle"></div>
                </div>
            </div>

            <app-carousel class="col-8"></app-carousel>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
