<mat-sidenav-container hasBackdrop="false">
    <mat-sidenav mode="over" #sidenav [(opened)]="opened" (mouseleave)="opened=!opened">
        <div class="container" id="menuContainer">
            <div class="row mt-4 ms-1 pe-0">
                <div class="col-4" id="profileImgWrapper">
                    <div class="dropdown">
                        <img #profileImg src="https://pokecare.s3.amazonaws.com/{{trainer.id}}" (error)="fallbackImage($event)"
                             class="img-thumbnail rounded-circle dropdown-toggle" id="profileImg" alt="..." type="button"
                             data-bs-toggle="dropdown" aria-expanded="false">

                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="profileImg">
                            <li>
                                <button class="dropdown-item" type="button" (click)="addPokemon()" i18n>Add Pokemon</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" (click)="uploadImage()" i18n>Upload Photo</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" i18n>Settings</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" (click)="showFriends()">My Friends</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" (click)="pendingRequests()">View Pending Requests</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" (click)="addFriend()">Add Friend</button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" (click)="logout()" i18n>Logout</button>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row mt-4 ms-1" id="nameRow">
                <div class="col-8">
                    <h1 id="trainerName" *ngIf="trainer">{{trainer.username}}</h1>
                </div>
            </div>
            <div class="row mt-n1 ms-1">
                <div class="col-8" id="currencyWrapper">
                    <h1 *ngIf="trainer">₽ {{trainer.currency | number:'2.'}}</h1>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container">
            <div class="row">
                <div class=" arrow-right" (click)="opened=!opened">
                    <div class="inner-triangle"></div>
                </div>
            </div>

            <app-carousel class="col-8"></app-carousel>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
