<button class ="dropdown-item" mat-button mat-dialog-close>Hide Friend Requests</button>
<mat-dialog-actions>
    <div  *ngFor="let friend of friends">
        <div *ngIf="friend != undefined">
            <button *ngIf="friend != undefined"  class="dropdown-item" type="button" (click)="myFriendsStats(friend)">{{friend.username}}</button>
            <button *ngIf="friend != undefined"  class ="dropdown-item" type="button" (click)="acceptFriend(friend)">Accept</button>
            <button *ngIf="friend != undefined" class ="dropdown-item" type="button" (click)="rejectFriend(friend)">Reject</button>
        </div>
    </div>
</mat-dialog-actions>