<div class="background">
    <div class="container">
        <div id="imageWrapper">
            <img id="pokeimg"
                 src="https://www.pkparaiso.com/imagenes/espada_escudo/sprites/animados-gigante/{{pokeName}}.gif"
                 (error)="errHandler($event)" alt="">
        </div>
            <div class="text-container">

                <h2>{{editDisplayName(pokeName)}}</h2>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">XP
                        <mat-progress-bar
                            class="example-margin"
                            value="{{poke.xp}}">
                        </mat-progress-bar>
                    </li>
                    <li class="list-group-item" i18n>Happiness
                        <mat-progress-bar
                            class="example-margin"
                            value="{{poke.happiness}}">
                        </mat-progress-bar>
                    </li>
                    <li class="list-group-item" i18n>Hunger
                        <mat-progress-bar
                            class="example-margin"
                            value="{{poke.hunger}}" i18n>
                        </mat-progress-bar>
                    </li>
                    <li class="list-group-item" i18n>Fatigue
                        <mat-progress-bar
                            class="example-margin"
                            value="{{poke.fatigue}}">
                        </mat-progress-bar>
                    </li>
                </ul>

                <div class="button-container d-flex mt-2">
                    <button class="btn actions" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            i18n-title title="Train" mat-fab color="accent"
                            aria-label="Example icon button with a home icon" (click)="openTraining()">
                        <mat-icon>fitness_center</mat-icon>
                    </button>

                    <button class="btn actions" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            (click)="feedPokemon()"
                            i18n-title title="Feed" mat-fab color="primary"
                            aria-label="Example icon button with a home icon">
                        <mat-icon>bakery_dining</mat-icon>
                    </button>

                    <button class="btn actions" id="playBtn" type="button" data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            i18n-title title="Play" mat-fab color="green"
                            aria-label="Example icon button with a home icon">
                        <mat-icon>sports_soccer</mat-icon>
                    </button>

                    <button class="btn actions" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            i18n-title title="Return Pokemon" mat-fab color="warn"
                            aria-label="Example icon button with a home icon" (click)="returnPokemon()">
                        <mat-icon>home</mat-icon>
                    </button>
                </div>
            </div>
        </div>

</div>